src/DualDeliveryApi/wsdl/DualeZustellung.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:dd="http://reference.e-government.gv.at/namespace/zustellung/dual/20130121#" xmlns:ddb="http://reference.e-government.gv.at/namespace/zustellung/dual_bulk/20130121#" xmlns:ddn="http://reference.e-government.gv.at/namespace/zustellung/dual_notification/20130121#" xmlns:ddpa="http://reference.e-government.gv.at/namespace/zustellung/dual_pa/20130121#" xmlns:ddca="http://reference.e-government.gv.at/namespace/zustellung/dual_ca/20130121#" xmlns:tns="http://reference.e-government.gv.at/namespace/zustellung/dual/dualeZustellung#wsdl" targetNamespace="http://reference.e-government.gv.at/namespace/zustellung/dual/dualeZustellung#wsdl"  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<import namespace="http://reference.e-government.gv.at/namespace/zustellung/dual/20130121#" location="DualeZustellung.xsd"/>
	<import namespace="http://reference.e-government.gv.at/namespace/zustellung/dual_bulk/20130121#" location="DualeZustellung_Bulk.xsd"/>
	<import namespace="http://reference.e-government.gv.at/namespace/zustellung/dual_notification/20130121#" location="DualeZustellung_Notification.xsd"/>
	<import namespace="http://reference.e-government.gv.at/namespace/zustellung/dual_pa/20130121#" location="DualeZustellung_PreAddressing.xsd"/>
	<import namespace="http://reference.e-government.gv.at/namespace/zustellung/dual_ca/20130121#" location="DualeZustellung_Cancellation.xsd"/>

	<types>
		<xsd:schema targetNamespace="http://reference.e-government.gv.at/namespace/zustellung/dual/20130121#">
			<xsd:include schemaLocation="DualeZustellung.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://reference.e-government.gv.at/namespace/zustellung/dual_bulk/20130121#">
			<xsd:include schemaLocation="DualeZustellung_Bulk.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://reference.e-government.gv.at/namespace/zustellung/dual_notification/20130121#">
			<xsd:include schemaLocation="DualeZustellung_Notification.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://reference.e-government.gv.at/namespace/zustellung/dual_pa/20130121#">
			<xsd:include schemaLocation="DualeZustellung_PreAddressing.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://reference.e-government.gv.at/namespace/zustellung/dual_ca/20130121#">
			<xsd:include schemaLocation="DualeZustellung_Cancellation.xsd"/>
		</xsd:schema>
	</types>			
	<message name="DualDeliveryRequest">
		<part name="DualDeliveryRequest" element="dd:DualDeliveryRequest"/>
	</message>
	<message name="DualDeliveryResponse">
		<part name="DualDeliveryResponse" element="dd:DualDeliveryResponse"/>
	</message>
	<message name="DualNotificationRequest">
		<part name="DualNotificationRequest" element="ddn:DualNotificationRequest"/>
	</message>
	<message name="DualNotificationResponse">
		<part name="DualNotificationResponse" element="ddn:DualNotificationResponse"/>
	</message>
	<message name="StatusRequest">
		<part name="StatusRequest" element="ddn:StatusRequest"/>
	</message>
	<message name="StatusResponse">
		<part name="StatusResponse" element="ddn:StatusResponse"/>
	</message>
	<message name="DualDeliveryBulkRequest">
		<part name="DualDeliveryBulkRequest" element="ddb:DualDeliveryBulkRequest"/>
	</message>
	<message name="DualDeliveryBulkResponse">
		<part name="DualDeliveryBulkResponse" element="ddb:DualDeliveryBulkResponse"/>
	</message>
	<message name="DualNotificationBulkRequest">
		<part name="DualNotificationBulkRequest" element="ddb:DualNotificationBulkRequest"/>
	</message>
	<message name="DualNotificationBulkResponse">
		<part name="DualNotificationBulkResponse" element="ddb:DualNotificationBulkResponse"/>
	</message>
	<message name="DualDeliveryPreAddressingRequest">
		<part name="DualDeliveryPreAddressingRequest" element="ddpa:DualDeliveryPreAddressingRequest"/>
	</message>
	<message name="DualDeliveryPreAddressingResponse">
		<part name="DualDeliveryPreAddressingResponse" element="ddpa:DualDeliveryPreAddressingResponse"/>
	</message>
	<message name="DualDeliveryCancellationRequest">
		<part name="DualDeliveryCancellationRequest" element="ddca:DualDeliveryCancellationRequest"/>
	</message>
	<message name="DualDeliveryCancellationResponse">
		<part name="DualDeliveryCancellationResponse" element="ddca:DualDeliveryCancellationResponse"/>
	</message>
	<portType name="dualDeliveryPortType">
		<operation name="dualDeliveryRequestOperation">
			<input message="tns:DualDeliveryRequest"/>
			<output message="tns:DualDeliveryResponse"/>
		</operation>
		<operation name="dualNotificationRequestOperation">
			<input message="tns:DualNotificationRequest"/>
			<output message="tns:DualNotificationResponse"/>
		</operation>
		<operation name="dualStatusRequestOperation">
			<input message="tns:StatusRequest"/>
			<output message="tns:StatusResponse"/>
		</operation>
		<operation name="dualDeliveryBulkRequestOperation">
			<input message="tns:DualDeliveryBulkRequest"/>
			<output message="tns:DualDeliveryBulkResponse"/>
		</operation>
		<operation name="dualNotificationBulkRequestOperation">
			<input message="tns:DualNotificationBulkRequest"/>
			<output message="tns:DualNotificationBulkResponse"/>
		</operation>
		<operation name="dualDeliveryPreAddressingRequestOperation">
			<input message="tns:DualDeliveryPreAddressingRequest"/>
			<output message="tns:DualDeliveryPreAddressingResponse"/>
		</operation>
		<operation name="dualDeliveryCancellationRequestOperation">
			<input message="tns:DualDeliveryCancellationRequest"/>
			<output message="tns:DualDeliveryCancellationResponse"/>
		</operation>
	</portType>
	<binding name="dualDeliveryBinding" type="tns:dualDeliveryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="dualDeliveryRequestOperation">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body parts="DualDeliveryRequest" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="dualNotificationRequestOperation">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body parts="DualNotificationRequest" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="dualStatusRequestOperation">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body parts="StatusRequest" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="dualDeliveryBulkRequestOperation">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body parts="DualDeliveryBulkRequest" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="dualNotificationBulkRequestOperation">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body parts="DualNotificationBulkRequest" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="dualDeliveryPreAddressingRequestOperation">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body parts="DualDeliveryPreAddressingRequest" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="dualDeliveryCancellationRequestOperation">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body parts="DualDeliveryCancellationRequest" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="dualDeliveryService">
		<port name="dualDeliveryPortType" binding="tns:dualDeliveryBinding">
			<soap:address location=""/>
		</port>
	</service>
</definitions>
