src/DualDeliveryApi/wsdl/DualeZustellung_PreAddressing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arne Tauber (Technische Universität Graz) -->
<xs:schema xmlns:dd="http://reference.e-government.gv.at/namespace/zustellung/dual/20130121#" xmlns:ddpa="http://reference.e-government.gv.at/namespace/zustellung/dual_pa/20130121#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:p="http://reference.e-government.gv.at/namespace/persondata/20130121#" xmlns:ddb="http://reference.e-government.gv.at/namespace/zustellung/dual_bulk/20130121#" xmlns:egiz="uri:egiz.additional.params" xmlns:zuse="http://reference.e-government.gv.at/namespace/zustellung/msg" targetNamespace="http://reference.e-government.gv.at/namespace/zustellung/dual_pa/20130121#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://reference.e-government.gv.at/namespace/zustellung/dual/20130121#" schemaLocation="DualeZustellung.xsd"/>
	<xs:import namespace="http://reference.e-government.gv.at/namespace/persondata/20130121#" schemaLocation="dual_mypersondata_en.xsd"/>
	<xs:import namespace="http://reference.e-government.gv.at/namespace/zustellung/dual_bulk/20130121#" schemaLocation="DualeZustellung_Bulk.xsd"/>
	<xs:element name="DualDeliveryPreAddressingRequest" type="ddpa:DualDeliveryPreAddressingRequestType">
		<xs:annotation>
			<xs:documentation>Der Vorabadressierungsrequest enthält alle relevanten Metadaten um die Adressierbarkeit mehrere/einer großen Menge von Empfängern auf den gewünschten Kanälen lt. Verarbeitungsprofil zu ermitteln (nur Adressierungsrelevante Metadaten keine Payloads!). Dieser Request dient dazu div. Szenarien der Dualen Zustellung effizient und perfomant umsetzen zu können. Wird beim Request "PreCreateSendings" angegeben so wird für die auf einem der gewünschten Kanäle  adressierbaren Empfänger bereites ein Eintrag in der Datenbasis der Dualen Zustellung erstellt. In Folge wird für diese Sendungen lediglich der Payload übermittelt um die Versendung zu initieren. Zweck: z.B: E-Versand über die Weiche aber Druck der elektronisch nicht erreichbaren Empfänger auf der lokalen Druckstrasse des Versenders (bei der derzeit geringen elektronischen Erreichbarkeit der Empfänger kann somit die "unnötige" Übertragung von großen Datenmengen vermieden werden), kanalspezifische Aufbereitung von Attachemnts wie kanalspezifische Signatur z.B. elektronisch ohne Zahlschein aber mit Zahlungsinformation etc. z.B. bei sehr großen Massensendungen bei denen das Adressierungsergebnis zeitkritisch ist und die weitere Verarbeitung beeinflusst vgl. Anforderungen HVB. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DualDeliveryPreAddressingResponse" type="ddpa:DualDeliveryPreAddressingResponseType">
		<xs:annotation>
			<xs:documentation>Rückgabe der Adressierungsergebnisse für die angefragten Empfänger je gewünschtem Kanal incl. DualZuseIDs bei Angabe von "PreCreateSendings"</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DualDeliveryPreAddressingRequestType">
		<xs:annotation>
			<xs:documentation>Der Vorabadressierungsrequest enthält alle relevanten Metadaten um die Adressierbarkeit mehrere/einer großen Menge von Empfängern auf den gewünschten Kanälen lt. Verarbeitungsprofil zu ermitteln (nur Adressierungsrelevante Metadaten keine Payloads!). Dieser Request dient dazu div. Szenarien der Dualen Zustellung effizient und perfomant umsetzen zu können. Wird beim Request "PreCreateSendings" angegeben so wird für die auf einem der gewünschten Kanäle  adressierbaren Empfänger bereites ein Eintrag in der Datenbasis der Dualen Zustellung erstellt. In Folge wird für diese Sendungen lediglich der Payload übermittelt um die Versendung zu initieren. Zweck: z.B: E-Versand über die Weiche aber Druck der elektronisch nicht erreichbaren Empfänger auf der lokalen Druckstrasse des Versenders (bei der derzeit geringen elektronischen Erreichbarkeit der Empfänger kann somit die "unnötige" Übertragung von großen Datenmengen vermieden werden), kanalspezifische Aufbereitung von Attachemnts wie kanalspezifische Signatur z.B. el</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dd:Sender"/>
			<xs:element name="Recipients">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Recipient" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Empfänger</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dd:RecipientID"/>
									<xs:element ref="dd:Recipient"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MetaData">
				<xs:annotation>
					<xs:documentation>Meta-daten</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dd:AppDeliveryID"/>
						<xs:element ref="dd:ApplicationID" minOccurs="0"/>
						<xs:element ref="dd:AdditionalMetaData" minOccurs="0"/>
						<xs:element ref="dd:TestCase" minOccurs="0"/>
						<xs:element ref="dd:ProcessingProfile" minOccurs="0"/>
						<xs:element ref="dd:Asynchronous" minOccurs="0"/>
						<xs:element name="PreCreateSendings" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Falls ein Emfänger gefunden wird, wird der Geschäftsfall gleich angelegt. Die ID wird im Response zurückgeliefert.
Im Nachfolgerequest muss dann nur die Payload mitgeliefert werden.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dd:DeliveryChannels"/>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DualDeliveryPreAddressingResponseType">
		<xs:annotation>
			<xs:documentation>Antwort auf den Vorabadressierungsrequest siehe ann: DualDeliveryPreAddressingResponse</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dd:AppDeliveryID"/>
			<xs:element ref="dd:Status"/>
			<xs:element ref="dd:DualDeliveryID" minOccurs="0"/>
			<xs:element name="AddressingResults" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressingResult" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DeliveryChannelAddressingResult" type="dd:UsedDeliveryChannelType" maxOccurs="unbounded"/>
									<xs:element ref="dd:DualDeliveryID" minOccurs="0"/>
									<xs:element ref="dd:RecipientID"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dd:Errors" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
